<div class="container mt-3">
<div class="row d-flex">
    <% @bookings.each do |booking| %>
     <% if booking.user_id == current_user.id %>
      <!-- Card de bootstrap-->
      <div class="col-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= booking.yacht.name %></h5>
            <p class="card-text"> <%= booking.date %></p>
            <p class="card-text"> <%= booking.status %></p>
            <%= link_to "Ver detalles", booking_path(booking.id), class:"btn btn-info" %>
          </div>
        </div>
      </div>
      <% end %>
     <% end %>
    </div>
    </div>
