<div class="container">
  <%= simple_form_for [@yacht, @booking] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.submit "Alquilar" %>
      <% end %>
</div>

chosen_date = Date.today

if chosen_date >= start_date && chosen_date <= end_date

else

end
